/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 3%;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #06243d;
  color: white;
  text-align: center;
  font-size: 2em;
}

/* I used the Class Selector on Level 6. The class tag simply creates a class name for an HTML element, allowing you to separate and organize them efficiently. In my case, I used the class tag to differentiate my sections for each color from the headers. */
.title {
  font-family: 'Delius Swash Caps', cursive;
  font-size: 3em;
  text-shadow: 5px 5px grey, 10px 10px black;
}

/* I used the Last Child selector on Level 15. the First child selector selects the first element inside another element. In my case, it is selecting the h2 tags inside all my color classes. */
h2:first-child {
  font-size: 70px;
  font-family: 'Dekko', cursive;
  line-height: 50%;
  text-shadow: 5px 5px black;
}

/* I used the Last Child selector on Level 17. the Last child selector selects the last element inside another element. In my case, it is selecting the last p tags inside all my color classes. */
p:last-child {
  font-family: 'Courier Prime', monospace;
  line-height: 100%;
}

/* I used the ID selector on Level 3. The id tag in general creates a unique id for an element. In this case, I am using it to define each h2 from each other so I can change the color for each h2. */
#red {
  color: #ff3d2b;
}

#orange {
  color: #ff952b;
}

#yellow {
  color: #ffdf2b;
}

#green {
  color: #34c920;
}

#blue {
  color: #29b4ff;
}

#purple {
  color: #623bff;
}

img {
  width: 40%;
  padding: 2em;
}
