/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 3%;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #06243d;
  color: white;
  text-align: center;
  font-size: 2em;
}

h1 {
  font-family: 'Delius Swash Caps', cursive;
  font-size: 3em;
  text-shadow: 5px 5px grey, 10px 10px black;
}

h2 {
  font-size: 70px;
  font-family: 'Dekko', cursive;
  line-height: 50%;
  text-shadow: 5px 5px black;
}

p {
  font-family: 'Courier Prime', monospace;
  line-height: 100%;
}

/* I used the ID selector on Level 3. The id tag in general creates a unique id for an element. In this case, I am using it to define each h2 from each other so I can change the color for each h2. */
#red {
  color: #ff3d2b;
}

#orange {
  color: #ff952b;
}

#yellow {
  color: #ffdf2b;
}

#green {
  color: #34c920;
}

#blue {
  color: #29b4ff;
}

#purple {
  color: #623bff;
}

img {
  width: 40%;
  padding: 2em;
}
