/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 3%;
  padding: 0;
}

body {
  padding: 0;
  width:auto;
  height: 102%;
  color: black;
  background-color: #003494;
  /* allows gifs to be scale to background size without repeating itself, https://stackoverflow.com/questions/31565045/toggle-background-image-html */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient 8s infinite;
  font-family: 'Delius Swash Caps', cursive;
}
.BgClass {
  background-image:url('images/rain.gif');
  }

.BgClass2 {
  background-image:url('images/heart.gif');
  }
@keyframes gradient {
  0% {
    background-color: #003494;
  }

  25% {
    background-color: #00626b;
  }

  50% {
    background-color: #280985;
  }

  100% {
    background-color: #003494;
  }
}

@keyframes gradient2 {
  0% {
    background-color: #721b65;
  }

  25% {
    background-color: #b80d57;
  }

  50% {
    background-color: #f8615a;
  }

  100% {
    background-color: #721b65;
  }
}


img {
  width: 65%;
  border: 1em solid white;
  margin: auto;
}

#line {
  display: none;
  width: 23%;
  border: 0;
  position: absolute;
  top: 39%;
  left: 18%;
}

#line2 {
  display: none;
  width: 23%;
  border: 0;
  position: absolute;
  top: 72%;
  left: 18%;
}

#line3 {
  display: none;
  width: 16.5%;
  border: 0;
  position: absolute;
  top: 33%;
  left: 66%;
}

#line4 {
  display: none;
  width: 16.5%;
  border: 0;
  position: absolute;
  top: 67.5%;
  left: 66%;
}

#first_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

#second_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

#third_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

#fourth_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

#fifth_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

#sixth_img {
  display: none;
  position: absolute;
  top: 2em;
  left: 1.5%;
}

h1 {
  color: white;
  font-size: 6em;
  text-shadow: 5px 5px grey, 10px 10px black;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top:0%;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: 2em;
  right: 1%;
  border: 5px solid black;
  border-radius: 25px;
  padding: 5px 15px;
  background-color: white;
}

#close {
  font-size: 1.5em;
  border:none;
  background-color: black;
  color:white;
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 0%;
  margin-left: 70%;
  margin-right: 1%;
}

#text1 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

#text2 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

#text3 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

#text4 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

#text5 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

#text6 {
  display: none;
  position: absolute;
  top: 2em;
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 1%;
}

button {
  background-color: white;
  font-size: 2em;
  font-family: 'Courier Prime', monospace;
  width:auto;
  padding: 5px 15px;
  border-radius: 25px;
  border-color: black;
  text-align: center;
  cursor: pointer;
}
.button2 {
  font-size: .6em;
}
button:active {
  background-color: #c4c4c4;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

button:hover {
  background-color: #c4c4c4;
}

#morning {
  justify-content: flex-end;
  position: absolute;
  margin-left: .3%;
  top: 1em;
}

#night {
  justify-content: flex-end;
  position: absolute;
  margin-left: 10%;
  top: 1em;
}

#rain {
  justify-content: flex-end;
  position: absolute;
  margin-left: 10%;
  top:8%;
}

#hearts {
  justify-content: flex-end;
  position: absolute;
  margin-left: .3%;
  top:8%;
}

#first {
position: absolute;
left: 35%;
top:33%;
}

#second {
  display: none;
position: absolute;
top:65%;
left:10%;
}

#third {
  display: none;
  position:absolute;
  left: 35%;
  top:98%;
}

#sixth {
  display: none;
  position: absolute;
  left: 55%;
  top:33%;
}

#fifth {
  display: none;
  position: absolute;
  left: 55%;
  top:65%;
}

#fourth {
  display: none;
  position: absolute;
  left: 55%;
  top:98%;
}

@media only screen and (device-width : 375px) and (device-height : 667px) {

  h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 3em;
  }

button {
  font-size: .5em;
      padding: 3px 10px;
}

.button2 {
  font-size: .3em;
}

#morning {
  top:15%;
}

#night {
  top:15%;
  margin-left: 25%;
}

#rain {
  top:15%;
  margin-left: 47%;
}

#hearts {
  top:15%;
  margin-left: 69.3%;
}

#first {
left: 37%;
top: 30%;
}

#second {
  top: 39.5%;
    left: 7%;
}
#third {
  top: 49%;
  left: 37%;
}

#sixth {
  left: 59%;
    top: 30%;
}

#fifth {
  left: 59%;
  top: 39.5%;
}
#fourth {
  left: 59%;
    top: 49%;
}
#line {
  top: 33%;
  left: 24%;
}

#line2 {
  top:41%;
  left: 24%;
}

#line3 {
  top: 30%;
    left: 77%;
}

#line4 {
  top: 40.5%;
    left: 77%;
}

img {
  width:93%;
  border: solid white;
}

#first_img,#second_img,#third_img,#fourth_img,#fifth_img,#sixth_img {
  top: 6em;
  left: 3%;
}

p {
  font-size: 1em;
}

#close {
  font-size: 1em;
  top: 25em;
    margin-left: 22%;
    margin-right: 21%;
}
#text1,#text2,#text3,#text4,#text5,#text6 {
  top: 2em;
    margin-top: 113%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (device-width : 375px) and (device-height : 812px) {

  h1 {
    font-size: 3em;
  }

  button {
    font-size: .5em;
        padding: 3px 10px;
  }

  .button2 {
    font-size: .3em;
  }

  #morning {
    top:15%;
  }

  #night {
    top:15%;
    margin-left: 25%;
  }

  #rain {
    top:15%;
    margin-left: 47%;
  }

  #hearts {
    top:15%;
    margin-left: 69.3%;
  }

  #first {
  left: 37%;
  top: 30%;
  }

  #second {
    top: 39.5%;
      left: 7%;
  }
  #third {
    top: 49%;
    left: 37%;
  }

  #sixth {
    left: 59%;
      top: 30%;
  }

  #fifth {
    left: 59%;
    top: 39.5%;
  }
  #fourth {
    left: 59%;
      top: 49%;
  }
  #line {
    top: 33%;
    left: 24%;
  }

  #line2 {
    top:41%;
    left: 24%;
  }

  #line3 {
    top: 30%;
      left: 77%;
  }

  #line4 {
    top: 40.5%;
      left: 77%;
  }

  img {
    width:93%;
    border: solid white;
  }

  #first_img,#second_img,#third_img,#fourth_img,#fifth_img,#sixth_img {
    top: 6em;
    left: 3%;
  }

  p {
    font-size: 1em;
  }

  #close {
    font-size: 1em;
    top: 25em;
      margin-left: 22%;
      margin-right: 21%;
  }
  #text1,#text2,#text3,#text4,#text5,#text6 {
    top: 2em;
      margin-top: 113%;
      margin-left: 2%;
      margin-right: 2%;
  }
}
  @media only screen and (device-width : 414px) and (device-height : 736px) {

    h1 {
      font-size: 3em;
    }


      button {
        font-size: .5em;
            padding: 3px 10px;
      }

      .button2 {
        font-size: .3em;
      }

      #morning {
        top:15%;
      }

      #night {
        top:15%;
        margin-left: 25%;
      }

      #rain {
        top:15%;
        margin-left: 47%;
      }

      #hearts {
        top:15%;
        margin-left: 69.3%;
      }

      #first {
      left: 37%;
      top: 30%;
      }

      #second {
        top: 39.5%;
          left: 7%;
      }
      #third {
        top: 49%;
        left: 37%;
      }

      #sixth {
        left: 59%;
          top: 30%;
      }

      #fifth {
        left: 59%;
        top: 39.5%;
      }
      #fourth {
        left: 59%;
          top: 49%;
      }
      #line {
        top: 33%;
        left: 24%;
      }

      #line2 {
        top:41%;
        left: 24%;
      }

      #line3 {
        top: 30%;
          left: 77%;
      }

      #line4 {
        top: 40.5%;
          left: 77%;
      }

      img {
        width:93%;
        border: solid white;
      }

      #first_img,#second_img,#third_img,#fourth_img,#fifth_img,#sixth_img {
        top: 6em;
        left: 3%;
      }

      p {
        font-size: 1em;
      }

      #close {
        font-size: 1em;
        top: 25em;
          margin-left: 22%;
          margin-right: 21%;
      }
      #text1,#text2,#text3,#text4,#text5,#text6 {
        top: 2em;
          margin-top: 113%;
          margin-left: 2%;
          margin-right: 2%;
      }
    }
